In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
from fuzzywuzzy import fuzz

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
grad_cafe_df = pd.read_csv("Final.csv")

<ipython-input-998-d56d82000560>:1: DtypeWarning: Columns (5,14) have mixed types. Specify dtype option on import or set low_memory=False.
  grad_cafe_df = pd.read_csv("Final.csv")

In [ ]:
grad_cafe_df.shape

(485250, 20)

In [ ]:
kaggle_df = pd.read_csv("original_data.csv")

In [ ]:
kaggle_df.shape

(53644, 26)

In [4]:
gre_score_conversion = pd.read_csv("score.csv")

In [5]:
gre_score_conversion

    old  newQ  newV
0   800   166   170
1   790   164   170
2   780   163   170
3   770   161   170
4   760   160   170
..  ...   ...   ...
56  240   133   131
57  230   132   130
58  220   132   130
59  210   131   130
60  200   131   130

[61 rows x 3 columns]

In [ ]:
ym_grad_df = pd.read_csv("Decisions_final_ymgrad.csv", encoding = 'ISO-8859-1')

In [ ]:
ym_grad_df.shape

(16308, 66)

In [ ]:
ym_grad_df = ym_grad_df.drop_duplicates()

In [ ]:
ym_grad_df.shape

(15060, 66)

In [ ]:
grad_cafe_df = grad_cafe_df.drop(columns=grad_cafe_df.columns[0])

In [ ]:
grad_cafe_df = grad_cafe_df.drop(columns=grad_cafe_df.columns[0])

In [ ]:
grad_cafe_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,University Of Waterloo,Systems Design Engineering,MS,NaN,Accepted,Website,"(1, 7, 2019)",1.561964e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,"(10, 7, 2019)",1562742000,NaN
1,Northeastern University,Electrical Engineering,PhD,F19,Rejected,Website,"(8, 7, 2019)",1.562569e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 7, 2019)",1562742000,Got email today!
2,The University Of Auckland,Electrical And Electronic Engineering,MS,NaN,Accepted,Website,"(19, 6, 2019)",1.560928e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,"(9, 7, 2019)",1562655600,Top Student\nIELTS: 7.5\nContacted Supervisor\...
3,Radford University,Counseling Psychology PsyD.,Other,F19,Accepted,Phone,"(4, 3, 2019)",1.551686e+09,NaN,NaN,NaN,NaN,NaN,NaN,American,"(9, 7, 2019)",1562655600,NaN
4,University Of Chittagong,Computer Science,MS,NaN,NaN,Other,"(9, 7, 2019)",1.562656e+09,3.2,163.0,168.0,4.0,True,NaN,International,"(9, 7, 2019)",1562655600,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485245,Temple University,Clinical Psychology,Other,NaN,Interview,E-mail,"(20, 1, 2006)",1.137744e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485246,Temple University,Clinical Psychology,Other,NaN,Interview,E-mail,"(19, 1, 2006)",1.137658e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485247,Michigan State University,Communication,PhD,NaN,Accepted,E-mail,"(20, 12, 2005)",1.135066e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485248,Ohio State University (OSU),Social Work,MS,NaN,Accepted,Phone,"(16, 11, 2005)",1.132128e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485249,Pennsylvania State University (PSU),Industrial Engineering -masters,Other,NaN,Accepted,E-mail,"(10, 2, 2006)",1.139558e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN

In [ ]:
grad_cafe_df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17'],
      dtype='object')

In [ ]:
kaggle_df.columns

Index(['userName', 'major', 'researchExp', 'industryExp', 'specialization',
       'toeflScore', 'program', 'department', 'toeflEssay', 'internExp',
       'greV', 'greQ', 'userProfileLink', 'journalPubs', 'greA', 'topperCgpa',
       'termAndYear', 'confPubs', 'ugCollege', 'gmatA', 'cgpa', 'gmatQ',
       'cgpaScale', 'gmatV', 'univName', 'admit'],
      dtype='object')

In [ ]:
grad_cafe_df= grad_cafe_df.rename(columns={'0': 'University', '1': 'Major',
'2': 'Program', '4': 'Status', '8': 'CGPA', '9': 'GRE_V', '10': 'GRE_Q',
'11': 'GRE_AWA', '14': 'Country', '15': 'Date', '16': 'Tuition'})

In [ ]:
grad_cafe_df

,University,Major,Program,3,Status,5,6,7,CGPA,GRE_V,GRE_Q,GRE_AWA,12,13,Country,Date,Tuition,17
0,University Of Waterloo,Systems Design Engineering,MS,NaN,Accepted,Website,"(1, 7, 2019)",1.561964e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,"(10, 7, 2019)",1562742000,NaN
1,Northeastern University,Electrical Engineering,PhD,F19,Rejected,Website,"(8, 7, 2019)",1.562569e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 7, 2019)",1562742000,Got email today!
2,The University Of Auckland,Electrical And Electronic Engineering,MS,NaN,Accepted,Website,"(19, 6, 2019)",1.560928e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,"(9, 7, 2019)",1562655600,Top Student\nIELTS: 7.5\nContacted Supervisor\...
3,Radford University,Counseling Psychology PsyD.,Other,F19,Accepted,Phone,"(4, 3, 2019)",1.551686e+09,NaN,NaN,NaN,NaN,NaN,NaN,American,"(9, 7, 2019)",1562655600,NaN
4,University Of Chittagong,Computer Science,MS,NaN,NaN,Other,"(9, 7, 2019)",1.562656e+09,3.2,163.0,168.0,4.0,True,NaN,International,"(9, 7, 2019)",1562655600,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485245,Temple University,Clinical Psychology,Other,NaN,Interview,E-mail,"(20, 1, 2006)",1.137744e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485246,Temple University,Clinical Psychology,Other,NaN,Interview,E-mail,"(19, 1, 2006)",1.137658e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485247,Michigan State University,Communication,PhD,NaN,Accepted,E-mail,"(20, 12, 2005)",1.135066e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485248,Ohio State University (OSU),Social Work,MS,NaN,Accepted,Phone,"(16, 11, 2005)",1.132128e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN
485249,Pennsylvania State University (PSU),Industrial Engineering -masters,Other,NaN,Accepted,E-mail,"(10, 2, 2006)",1.139558e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(10, 2, 2006)",1139558400,NaN

In [ ]:
grad_cafe_df.columns

Index(['University', 'Major', 'Program', '3', 'Status', '5', '6', '7', 'CGPA',
       'GRE_V', 'GRE_Q', 'GRE_AWA', '12', '13', 'Country', 'Date', 'Tuition',
       '17'],
      dtype='object')

In [ ]:
grad_cafe_df = grad_cafe_df.drop(columns=['3', '5', '6', '7', '12', '13', '17'])
grad_cafe_df.columns

Index(['University', 'Major', 'Program', 'Status', 'CGPA', 'GRE_V', 'GRE_Q',
       'GRE_AWA', 'Country', 'Date', 'Tuition'],
      dtype='object')

In [ ]:
grad_cafe_summary = grad_cafe_df.describe(include='all')
grad_cafe_summary

,University,Major,Program,Status,CGPA,GRE_V,GRE_Q,GRE_AWA,Country,Date,Tuition
count,485250,485243,485250,429029,114197.000000,123272.000000,123272.000000,119051.000000,440499,485250,4.852500e+05
unique,14117,29067,7,4,NaN,NaN,NaN,NaN,4,3915,NaN
top,Stanford University,Computer Science,PhD,Accepted,NaN,NaN,NaN,NaN,American,"(15, 2, 2019)",NaN
freq,8836,24240,301658,197058,NaN,NaN,NaN,NaN,239524,1127,NaN
mean,NaN,NaN,NaN,NaN,3.707664,232.827544,250.205829,4.284211,NaN,NaN,1.403532e+09
std,NaN,NaN,NaN,NaN,0.515373,176.167467,209.725188,0.791555,NaN,NaN,1.080451e+08
min,NaN,NaN,NaN,NaN,0.400000,130.000000,130.000000,0.300000,NaN,NaN,1.139386e+09
25%,NaN,NaN,NaN,NaN,3.500000,155.000000,157.000000,4.000000,NaN,NaN,1.329206e+09
50%,NaN,NaN,NaN,NaN,3.730000,161.000000,164.000000,4.500000,NaN,NaN,1.423210e+09
75%,NaN,NaN,NaN,NaN,3.900000,167.000000,170.000000,5.000000,NaN,NaN,1.489993e+09
max,NaN,NaN,NaN,NaN,9.990000,800.000000,800.000000,6.000000,NaN,NaN,1.562742e+09

In [ ]:
for col in grad_cafe_df.columns:
    print(col, " ", grad_cafe_df[col].isna().sum())

University   0
Major   7
Program   0
Status   56221
CGPA   371053
GRE_V   361978
GRE_Q   361978
GRE_AWA   366199
Country   44751
Date   0
Tuition   0

In [ ]:
grad_cafe_df = grad_cafe_df.dropna(subset=['Status'])
grad_cafe_df = grad_cafe_df.dropna(subset=['Major'])

In [ ]:
kaggle_df.head()

,userName,major,researchExp,industryExp,specialization,toeflScore,program,department,toeflEssay,internExp,...,termAndYear,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,143saf,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,26,5.0,...,Fall - 2015,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,7790ashish,Manufacturing Engineering,0,0,NaN,NaN,MS,0,NaN,0.0,...,Fall - 2013,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,AB25,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,21,0.0,...,Fall - 2015,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,abhijitg,NaN,0,0,NaN,NaN,NaN,0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,abhijitgang,MIS,0,0,NaN,81.0,MS,computer,NaN,0.0,...,Fall - 2011,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1

In [ ]:
for col in kaggle_df.columns:
    print(col, " ", kaggle_df[col].isna().sum())

userName   0
major   387
researchExp   0
industryExp   0
specialization   21695
toeflScore   4414
program   322
department   1
toeflEssay   41770
internExp   14
greV   1256
greQ   1220
userProfileLink   0
journalPubs   322
greA   2858
topperCgpa   3
termAndYear   322
confPubs   322
ugCollege   2278
gmatA   53525
cgpa   0
gmatQ   53521
cgpaScale   0
gmatV   53530
univName   0
admit   0

In [ ]:
kaggle_df = kaggle_df.dropna(subset=['major'])
kaggle_df = kaggle_df.dropna(subset=['program'])

In [ ]:
print(kaggle_df.columns)
print(grad_cafe_df.columns)

Index(['userName', 'major', 'researchExp', 'industryExp', 'specialization',
       'toeflScore', 'program', 'department', 'toeflEssay', 'internExp',
       'greV', 'greQ', 'userProfileLink', 'journalPubs', 'greA', 'topperCgpa',
       'termAndYear', 'confPubs', 'ugCollege', 'gmatA', 'cgpa', 'gmatQ',
       'cgpaScale', 'gmatV', 'univName', 'admit'],
      dtype='object')
Index(['University', 'Major', 'Program', 'Status', 'CGPA', 'GRE_V', 'GRE_Q',
       'GRE_AWA', 'Country', 'Date', 'Tuition'],
      dtype='object')

In [ ]:
kaggle_df= kaggle_df.rename(columns={'univName': 'University', 'major': 'Major',
'program': 'Program', 'admit': 'Status', 'cgpa': 'CGPA', 'greV': 'GRE_V', 'greQ': 'GRE_Q',
'greA': 'GRE_AWA'})

kaggle_df.columns

Index(['userName', 'Major', 'researchExp', 'industryExp', 'specialization',
       'toeflScore', 'Program', 'department', 'toeflEssay', 'internExp',
       'GRE_V', 'GRE_Q', 'userProfileLink', 'journalPubs', 'GRE_AWA',
       'topperCgpa', 'termAndYear', 'confPubs', 'ugCollege', 'gmatA', 'CGPA',
       'gmatQ', 'cgpaScale', 'gmatV', 'University', 'Status'],
      dtype='object')

In [ ]:
concatenated_df = pd.concat([kaggle_df, grad_cafe_df], axis=0)

In [ ]:
concatenated_df.columns

Index(['userName', 'Major', 'researchExp', 'industryExp', 'specialization',
       'toeflScore', 'Program', 'department', 'toeflEssay', 'internExp',
       'GRE_V', 'GRE_Q', 'userProfileLink', 'journalPubs', 'GRE_AWA',
       'topperCgpa', 'termAndYear', 'confPubs', 'ugCollege', 'gmatA', 'CGPA',
       'gmatQ', 'cgpaScale', 'gmatV', 'University', 'Status', 'Country',
       'Date', 'Tuition'],
      dtype='object')

In [ ]:
concatenated_df = concatenated_df.reset_index(drop=True)

In [ ]:
for col in concatenated_df.columns:
    print(col, " ", (concatenated_df[col].isna().sum())/len(concatenated_df[col])*100)

userName   88.95731344459581
Major   0.0
researchExp   88.95731344459581
industryExp   88.95731344459581
specialization   93.3816866860329
toeflScore   89.802667728284
Program   0.0
department   88.95752079173431
toeflEssay   97.5398262016285
internExp   88.9602163045349
GRE_V   64.33898768980039
GRE_Q   64.33152319281417
userProfileLink   88.95731344459581
journalPubs   88.95731344459581
GRE_AWA   65.52107372642205
topperCgpa   88.95793548601134
termAndYear   88.95731344459581
confPubs   88.95731344459581
ugCollege   89.36143301754365
gmatA   99.97532569051782
CGPA   65.9720537526722
gmatQ   99.97449630196378
cgpaScale   88.95731344459581
gmatV   99.97636242621034
University   0.0
Status   0.0
Country   18.57975504009057
Date   11.042686555404192
Tuition   11.042686555404192

In [ ]:
concatenated_df = concatenated_df.drop(columns=['userName', 'specialization', 'department', 'userProfileLink', 'topperCgpa', 'confPubs', 'gmatA', 'gmatQ', 'gmatV'])
concatenated_df.head()

,Major,researchExp,industryExp,toeflScore,Program,toeflEssay,internExp,GRE_V,GRE_Q,journalPubs,GRE_AWA,termAndYear,ugCollege,CGPA,cgpaScale,University,Status,Country,Date,Tuition
0,Systems and Control,0.0,18.0,112.0,MS,26,5.0,160.0,167.0,0,4.5,Fall - 2015,Dharamsinh Desai University,8.50,10.0,Worcester Polytechnic Institute,1,NaN,NaN,NaN
1,Manufacturing Engineering,0.0,0.0,NaN,MS,NaN,0.0,NaN,NaN,0,NaN,Fall - 2013,NaN,0.00,0.0,Worcester Polytechnic Institute,1,NaN,NaN,NaN
2,(MIS / MSIM / MSIS / MSIT),0.0,66.0,94.0,MS,21,0.0,146.0,157.0,0,3.0,Fall - 2015,IET DAVV,78.28,100.0,Worcester Polytechnic Institute,1,NaN,NaN,NaN
3,MIS,0.0,0.0,81.0,MS,NaN,0.0,420.0,770.0,0,2.5,Fall - 2011,Pune University,57.00,100.0,Worcester Polytechnic Institute,1,NaN,NaN,NaN
4,MIS,0.0,0.0,273.0,MS,6,0.0,410.0,1010.0,0,600.0,Fall - 2006,Thadomal Shahani Engineering College,52.00,100.0,Worcester Polytechnic Institute,1,NaN,NaN,NaN

In [ ]:
concatenated_df['Program'].value_counts()

PhD                272881
MS                 188151
Other                9995
MFA                  9423
MS/PhD                960
Both MS and PhD       437
MBA                   230
MA                    181
MEng                   25
Name: Program, dtype: int64

In [ ]:
concatenated_df['Program'] = concatenated_df['Program'].replace('MS/PhD', 'MS')
concatenated_df['Program'] = concatenated_df['Program'].replace('Both MS and PhD', 'MS')

In [ ]:
concatenated_df['Program'].value_counts()

PhD      272881
MS       189548
Other      9995
MFA        9423
MBA         230
MA          181
MEng         25
Name: Program, dtype: int64

In [ ]:
concatenated_df = concatenated_df[concatenated_df['Program'] == 'MS']

In [ ]:
concatenated_df['Program'].value_counts()

MS    189548
Name: Program, dtype: int64

In [ ]:
concatenated_df.shape

(189548, 20)

In [ ]:
for col in concatenated_df.columns:
    print(col, " ", (concatenated_df[col].isna().sum()))

Major   0
researchExp   137259
industryExp   137259
toeflScore   141212
Program   0
toeflEssay   177876
internExp   137273
GRE_V   93331
GRE_Q   93297
journalPubs   137259
GRE_AWA   96562
termAndYear   137259
ugCollege   139155
CGPA   95628
cgpaScale   137259
University   0
Status   0
Country   66315
Date   52289
Tuition   52289

In [ ]:
num_null_rows = len(concatenated_df[concatenated_df['GRE_V'].isna() | concatenated_df['GRE_Q'].isna() | concatenated_df['CGPA'].isna()])

num_null_rows

97382

In [ ]:
concatenated_df = concatenated_df.dropna(subset=['GRE_V', 'GRE_Q', 'CGPA'])
concatenated_df.shape

(92166, 20)

In [ ]:
for col in concatenated_df.columns:
    print(col, " ", (concatenated_df[col].isna().sum()))

Major   0
researchExp   40765
industryExp   40765
toeflScore   44079
Program   0
toeflEssay   80573
internExp   40779
GRE_V   0
GRE_Q   0
journalPubs   40765
GRE_AWA   3077
termAndYear   40765
ugCollege   42330
CGPA   0
cgpaScale   40765
University   0
Status   0
Country   53670
Date   51401
Tuition   51401

In [ ]:
concatenated_df['industryExp'].value_counts()

0.0      44457
24.0       939
36.0       498
12.0       401
30.0       304
         ...
94.0         1
86.0         1
67.0         1
80.0         1
138.0        1
Name: industryExp, Length: 96, dtype: int64

In [ ]:
concatenated_df['internExp'].value_counts()

0.0     46918
6.0       977
2.0       960
3.0       649
1.0       411
4.0       396
12.0      258
8.0       236
5.0       226
7.0       105
9.0        63
10.0       42
24.0       33
14.0       20
11.0       18
96.0       15
18.0        9
15.0        9
21.0        8
36.0        8
28.0        7
13.0        7
16.0        4
72.0        4
29.0        3
20.0        1
Name: internExp, dtype: int64

In [ ]:
num_notnull_rows = len(concatenated_df[(concatenated_df['internExp']>0.0) & (concatenated_df['industryExp']==0.0)])
num_notnull_rows

1395

In [ ]:
concatenated_df.loc[(concatenated_df['industryExp'] == 0.0) & (concatenated_df['internExp'] > 0.0), 'industryExp'] = concatenated_df['internExp']

In [ ]:
concatenated_df = concatenated_df.drop(columns=['internExp'])

In [ ]:
diff_count = (concatenated_df['researchExp'] != concatenated_df['journalPubs']).sum()
diff_count

92166

In [ ]:
concatenated_df.shape

(92166, 19)

In [ ]:
concatenated_df = concatenated_df.drop(columns=['journalPubs'])

In [ ]:
#Add GRE old score to new score conversion here

In [ ]:
# plt.scatter(concatenated_df['GRE_V'], concatenated_df['GRE_Q'], c=concatenated_df['GRE_AWA'])
# plt.colorbar()
# plt.xlabel('GRE Verbal')
# plt.ylabel('GRE Quantitative')
# plt.show()

In [ ]:
missing_awa = concatenated_df['GRE_AWA'].isnull()

In [ ]:
complete_data = concatenated_df[~missing_awa]

In [ ]:
reg = LinearRegression().fit(complete_data[['GRE_V', 'GRE_Q']], complete_data['GRE_AWA'])

In [ ]:
imputed_awa = reg.predict(concatenated_df.loc[missing_awa, ['GRE_V', 'GRE_Q']])

In [ ]:
concatenated_df.loc[missing_awa, 'GRE_AWA'] = imputed_awa

In [ ]:
for col in concatenated_df.columns:
    print(col, " ", (concatenated_df[col].isna().sum()))

Major   0
researchExp   40765
industryExp   40765
toeflScore   44079
Program   0
toeflEssay   80573
GRE_V   0
GRE_Q   0
GRE_AWA   0
termAndYear   40765
ugCollege   42330
CGPA   0
cgpaScale   40765
University   0
Status   0
Country   53670
Date   51401
Tuition   51401

# Work on termAndYear and Date here

# YM Grad

In [ ]:
ym_grad_df.columns

Index(['id', 'student/path', 'student/ios_path', 'student/state',
       'student/country', 'student/user_username', 'student/user_full_name',
       'student/profile_banner_pic', 'gradprofile/gre/id',
       'gradprofile/gre/verbal', 'gradprofile/gre/quant',
       'gradprofile/gre/awa', 'gradprofile/mcat', 'gradprofile/gmat',
       'gradprofile/lsat', 'gradprofile/toefl', 'gradprofile/ielts/id',
       'gradprofile/ielts/speaking', 'gradprofile/ielts/listening',
       'gradprofile/ielts/writing', 'gradprofile/ielts/reading',
       'gradprofile/cgpa', 'gradprofile/cgpa_out_of',
       'gradprofile/work_ex_months', 'gradprofile/research_papers',
       'gradprofile/sat', 'gradprofile/act', 'gradprofile/is_undergrad',
       'gradprofile/high_school_cgpa', 'gradprofile/high_school_cgpa_out_of',
       'uni_name', 'uni_logo', 'uni_rank', 'uni_slug', 'uni_country',
       'uni_state', 'major/id', 'major/name', 'decision_type',
       'application_date', 'decision_date', 'funding_amount', 'uni_id',
       'bookmark_count', 'funding_type', 'is_saved', 'do_i_follow_this_user',
       'my_follow_request_pending', 'blocked_users', 'uni_rate_my_chance',
       'gradprofile/gre', 'gradprofile/toefl/id', 'gradprofile/toefl/total',
       'gradprofile/toefl/speaking', 'gradprofile/toefl/listening',
       'gradprofile/toefl/writing', 'gradprofile/toefl/reading',
       'gradprofile/ielts', 'gradprofile/sat/total',
       'gradprofile/act/composite', 'gradprofile/mcat/id',
       'gradprofile/mcat/total', 'gradprofile/mcat/chemical_physical',
       'gradprofile/mcat/critical_analysis',
       'gradprofile/mcat/biologic_biochemical',
       'gradprofile/mcat/psycho_social_biological'],
      dtype='object')

In [ ]:
columns_to_drop = ['id', 'student/path', 'student/ios_path', 'student/state', 'student/user_username', 'student/user_full_name',
                  'student/profile_banner_pic', 'gradprofile/gre/id', 'gradprofile/mcat', 'gradprofile/gmat', 'gradprofile/lsat',
                  'gradprofile/toefl', 'gradprofile/ielts/id', 'gradprofile/sat', 'gradprofile/act', 'gradprofile/is_undergrad',
                  'gradprofile/high_school_cgpa', 'gradprofile/high_school_cgpa_out_of', 'uni_logo', 'uni_rank', 'uni_slug', 
                   'application_date', 'uni_id', 'bookmark_count', 'funding_type', 'is_saved', 'do_i_follow_this_user',
                   'my_follow_request_pending', 'blocked_users', 'uni_rate_my_chance', 'gradprofile/toefl/id', 
                  'gradprofile/ielts', 'gradprofile/sat/total', 'gradprofile/act/composite', 'gradprofile/mcat/id',
                    'gradprofile/mcat/total', 'gradprofile/mcat/chemical_physical', 'gradprofile/mcat/critical_analysis',
                   'gradprofile/mcat/biologic_biochemical', 'gradprofile/mcat/psycho_social_biological']

In [ ]:
ym_grad_df = ym_grad_df.drop(columns=columns_to_drop)
ym_grad_df.shape

(15060, 26)

In [ ]:
ym_grad_df.columns

Index(['student/country', 'gradprofile/gre/verbal', 'gradprofile/gre/quant',
       'gradprofile/gre/awa', 'gradprofile/ielts/speaking',
       'gradprofile/ielts/listening', 'gradprofile/ielts/writing',
       'gradprofile/ielts/reading', 'gradprofile/cgpa',
       'gradprofile/cgpa_out_of', 'gradprofile/work_ex_months',
       'gradprofile/research_papers', 'uni_name', 'uni_country', 'uni_state',
       'major/id', 'major/name', 'decision_type', 'decision_date',
       'funding_amount', 'gradprofile/gre', 'gradprofile/toefl/total',
       'gradprofile/toefl/speaking', 'gradprofile/toefl/listening',
       'gradprofile/toefl/writing', 'gradprofile/toefl/reading'],
      dtype='object')

In [ ]:
ym_grad_df['uni_country'].value_counts()

United States     13200
Canada              996
United Kingdom      547
Australia           106
Germany             101
Netherlands          30
Ireland              25
Singapore            22
France                6
Denmark               4
Poland                3
Switzerland           3
Sweden                3
Italy                 3
Turkey                2
Norway                2
Japan                 1
Belgium               1
Saudi Arabia          1
China                 1
Czech Republic        1
Taiwan                1
India                 1
Name: uni_country, dtype: int64

In [ ]:
ym_grad_df = ym_grad_df[ym_grad_df['uni_country'] == 'United States']
ym_grad_df.head()

,student/country,gradprofile/gre/verbal,gradprofile/gre/quant,gradprofile/gre/awa,gradprofile/ielts/speaking,gradprofile/ielts/listening,gradprofile/ielts/writing,gradprofile/ielts/reading,gradprofile/cgpa,gradprofile/cgpa_out_of,...,major/name,decision_type,decision_date,funding_amount,gradprofile/gre,gradprofile/toefl/total,gradprofile/toefl/speaking,gradprofile/toefl/listening,gradprofile/toefl/writing,gradprofile/toefl/reading
0,India,164.0,168.0,3.5,6.0,8.5,6.0,7.0,8.5,10,...,Artificial Intelligence,admit,"Apr 11, 2023",15800.0,NaN,NaN,NaN,NaN,NaN,NaN
2,India,148.0,159.0,4.0,NaN,NaN,NaN,NaN,9.1,10,...,Computer Science - Artificial Intelligence,admit,"Mar 28, 2023",0.0,NaN,106.0,27.0,28.0,26.0,25.0
3,India,151.0,164.0,3.0,6.0,6.0,6.0,6.5,6.32,10,...,Mechanical Engineering,reject,"Feb 28, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,India,151.0,164.0,3.0,6.0,6.0,6.0,6.5,6.32,10,...,Mechanical Engineering,reject,"Feb 20, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,India,151.0,164.0,3.0,6.0,6.0,6.0,6.5,6.32,10,...,Mechanical Engineering,reject,"Apr 01, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ym_grad_df.columns

Index(['student/country', 'gradprofile/gre/verbal', 'gradprofile/gre/quant',
       'gradprofile/gre/awa', 'gradprofile/ielts/speaking',
       'gradprofile/ielts/listening', 'gradprofile/ielts/writing',
       'gradprofile/ielts/reading', 'gradprofile/cgpa',
       'gradprofile/cgpa_out_of', 'gradprofile/work_ex_months',
       'gradprofile/research_papers', 'uni_name', 'uni_country', 'uni_state',
       'major/id', 'major/name', 'decision_type', 'decision_date',
       'funding_amount', 'gradprofile/gre', 'gradprofile/toefl/total',
       'gradprofile/toefl/speaking', 'gradprofile/toefl/listening',
       'gradprofile/toefl/writing', 'gradprofile/toefl/reading'],
      dtype='object')

In [ ]:
concatenated_df.columns

Index(['Major', 'researchExp', 'industryExp', 'toeflScore', 'Program',
       'toeflEssay', 'GRE_V', 'GRE_Q', 'GRE_AWA', 'termAndYear', 'ugCollege',
       'CGPA', 'cgpaScale', 'University', 'Status', 'Country', 'Date',
       'Tuition'],
      dtype='object')

In [ ]:
concatenated_df['Country'].value_counts()

American                        23374
International                   12154
International with US Degree     2580
Other                             388
Name: Country, dtype: int64

In [ ]:
new_col_names = {'gradprofile/gre/verbal': 'GRE_V', 
                 'gradprofile/gre/quant': 'GRE_Q', 
                 'gradprofile/gre/awa': 'GRE_AWA',
                'gradprofile/ielts/speaking': 'ielts_s', 
                 'gradprofile/ielts/listening': 'ielts_l', 
                 'gradprofile/ielts/writing': 'ielts_w',
                 'gradprofile/ielts/reading': 'ielts_r',
                'gradprofile/cgpa' : 'CGPA',
                 'gradprofile/cgpa_out_of': 'cgpaScale',
                 'gradprofile/work_ex_months': 'industryExp',
                 'gradprofile/research_papers': 'researchExp',
                'uni_name': 'University',
                 'major/name': 'Major',
                 'decision_type': 'Status',
                 'gradprofile/toefl/total': 'toeflScore',
                 'decision_date': 'Date', 
                 'student/country' : 'Country'
                }

In [ ]:
ym_grad_df = ym_grad_df.rename(columns=new_col_names)
ym_grad_df.columns

Index(['Country', 'GRE_V', 'GRE_Q', 'GRE_AWA', 'ielts_s', 'ielts_l', 'ielts_w',
       'ielts_r', 'CGPA', 'cgpaScale', 'industryExp', 'researchExp',
       'University', 'uni_country', 'uni_state', 'major/id', 'Major', 'Status',
       'Date', 'funding_amount', 'gradprofile/gre', 'toeflScore',
       'gradprofile/toefl/speaking', 'gradprofile/toefl/listening',
       'gradprofile/toefl/writing', 'gradprofile/toefl/reading'],
      dtype='object')

In [ ]:
ym_grad_df = ym_grad_df.drop('uni_country', axis=1)
ym_grad_df = ym_grad_df.drop('uni_state', axis=1)
ym_grad_df = ym_grad_df.drop('major/id', axis=1)
ym_grad_df = ym_grad_df.drop('gradprofile/gre', axis=1)


new_col_names = {'gradprofile/toefl/speaking': 'toefl_s', 
                 'gradprofile/toefl/listening': 'toefl_l', 
                 'gradprofile/toefl/writing': 'toefl_w',
                'gradprofile/toefl/reading': 'toefl_r', 
                }

In [ ]:
ym_grad_df = ym_grad_df.rename(columns=new_col_names)

ym_grad_df.columns

Index(['Country', 'GRE_V', 'GRE_Q', 'GRE_AWA', 'ielts_s', 'ielts_l', 'ielts_w',
       'ielts_r', 'CGPA', 'cgpaScale', 'industryExp', 'researchExp',
       'University', 'Major', 'Status', 'Date', 'funding_amount', 'toeflScore',
       'toefl_s', 'toefl_l', 'toefl_w', 'toefl_r'],
      dtype='object')

In [ ]:
for col in ym_grad_df.columns:
    print(col, " ", ym_grad_df[col].isna().sum())

Country   0
GRE_V   4696
GRE_Q   4696
GRE_AWA   4696
ielts_s   7827
ielts_l   7827
ielts_w   7827
ielts_r   7827
CGPA   0
cgpaScale   0
industryExp   374
researchExp   645
University   0
Major   0
Status   0
Date   3936
funding_amount   8737
toeflScore   7813
toefl_s   7813
toefl_l   7813
toefl_w   7813
toefl_r   7813

In [ ]:
ym_grad_df.shape

(13200, 22)

In [ ]:
concatenated_df.shape

(92166, 18)

In [ ]:
concatenated_df = pd.concat([concatenated_df, ym_grad_df])
concatenated_df.shape

(105366, 27)

In [ ]:
concatenated_df.columns

Index(['Major', 'researchExp', 'industryExp', 'toeflScore', 'Program',
       'toeflEssay', 'GRE_V', 'GRE_Q', 'GRE_AWA', 'termAndYear', 'ugCollege',
       'CGPA', 'cgpaScale', 'University', 'Status', 'Country', 'Date',
       'Tuition', 'ielts_s', 'ielts_l', 'ielts_w', 'ielts_r', 'funding_amount',
       'toefl_s', 'toefl_l', 'toefl_w', 'toefl_r'],
      dtype='object')

# University Processing

In [ ]:
concatenated_df['University'].value_counts()

North Carolina State University                   3467
University of Texas Dallas                        3300
Arizona State University                          3231
Northeastern University                           2994
University of Florida                             2391
                                                  ...
University Of California Berkeley - Goldman          1
UC Irvine UCI                                        1
Governors State University (GSU)                     1
California State University San Marcos (CSUSM)       1
Paul Merage - UC Irvine                              1
Name: University, Length: 4815, dtype: int64

In [ ]:
university_counts = concatenated_df['University'].value_counts()

In [ ]:
len(university_counts)

4815

In [ ]:
# fig, ax = plt.subplots(figsize=(10, 0.05*len(university_counts)))

# top_universities = university_counts[:1000]

# # Create a horizontal bar chart of the top universities
# sns.barplot(x=top_universities.values, y=top_universities.index)

# # Set the title and axis labels
# plt.title('Top 100 Most Frequent Universities')
# plt.xlabel('Number of Occurrences')
# plt.ylabel('University')

# # Show the plot
# plt.show()

In [3]:
import pandas as pd
us_universities = pd.read_csv("us_universities.csv")

In [ ]:
correct_names = list(us_universities['name'])

In [ ]:
# Define a function to correct misspelled university names
def correct_university_name(name):
    # Iterate over the correct university names and find the one with the highest similarity score
    max_score = 0
    corrected_name = ''
    for correct_name in correct_names:
        score = fuzz.ratio(name.lower(), correct_name.lower())
        if score > max_score:
            max_score = score
            corrected_name = correct_name
    return corrected_name

In [ ]:
# concatenated_df['University'] = concatenated_df['University'].apply(correct_university_name)

In [ ]:
university_counts = concatenated_df['University'].value_counts()

In [ ]:
len(university_counts)

4815

In [ ]:
# fig, ax = plt.subplots(figsize=(10, 0.5*len(university_counts)))

# top_universities = university_counts[:300]

# # Create a horizontal bar chart of the top universities
# sns.barplot(x=top_universities.values, y=top_universities.index)

# # Set the title and axis labels
# plt.title('Top 100 Most Frequent Universities')
# plt.xlabel('Number of Occurrences')
# plt.ylabel('University')

# # Show the plot
# plt.show()

In [ ]:
concatenated_df.head()

,Major,researchExp,industryExp,toeflScore,Program,toeflEssay,GRE_V,GRE_Q,GRE_AWA,termAndYear,...,Tuition,ielts_s,ielts_l,ielts_w,ielts_r,funding_amount,toefl_s,toefl_l,toefl_w,toefl_r
0,Systems and Control,0.0,18.0,112.0,MS,26,160.0,167.0,4.5,Fall - 2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(MIS / MSIM / MSIS / MSIT),0.0,66.0,94.0,MS,21,146.0,157.0,3.0,Fall - 2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MIS,0.0,0.0,81.0,MS,NaN,420.0,770.0,2.5,Fall - 2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MIS,0.0,0.0,273.0,MS,6,410.0,1010.0,600.0,Fall - 2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MIS,0.0,0.0,104.0,MS,27,150.0,161.0,4.5,Fall - 2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Pass VorQ as 1 for verbal, 2 for Quant
# Run cell only once. Not more, else you gonna fuq up :D 
import math
def adjustGREmarks(greMarks, VorQ):
  if not isinstance(greMarks, int) or np.isnan(greMarks):
    return 151 if VorQ == 1 else 157 # NaN values are imputed with averages 
  if greMarks%10 != 0 and greMarks>199:
    greMarks = int(math.ceil(greMarks / 10.0)) * 10
  if greMarks>=200 and greMarks<=800:
    return gre_score_conversion[gre_score_conversion["old"] == greMarks].values[0][VorQ]
  #At this point all processing is done, scrap values will be imputed with average gre marks.
  if greMarks < 130 or greMarks> 170:
    return 151 if VorQ == 1 else 157
  else: return greMarks

In [ ]:
concatenated_df['GRE_V'] = concatenated_df['GRE_V'].astype('Int32').apply(lambda x: adjustGREmarks(x, 1))
concatenated_df['GRE_Q'] = concatenated_df['GRE_Q'].astype('Int32').apply(lambda x: adjustGREmarks(x, 2))

In [ ]:
def getUwU(x):
  if not isinstance(x, float) or math.isnan(x): 
    return 3.0 #Average 
  if 0.0 <= x <= 6.0:
    return round(round(x, 1)*2)/2.0
  else:
    return 3.0

concatenated_df['GRE_AWA'] = concatenated_df['GRE_AWA'].astype(float).apply(lambda x: getUwU(x))
list(zip(concatenated_df['GRE_AWA'].value_counts().index.tolist(), concatenated_df['GRE_AWA'].value_counts().tolist()))

[(4.0, 30019),
 (3.0, 25298),
 (3.5, 21995),
 (4.5, 14326),
 (5.0, 7700),
 (5.5, 2881),
 (2.5, 1853),
 (6.0, 824),
 (2.0, 330),
 (0.0, 63),
 (1.5, 49),
 (1.0, 24),
 (0.5, 4)]

In [ ]:
# concatenated_df.industryExp.value_counts().tolist()
# sorted(list(zip(concatenated_df['University'].value_counts().index.tolist(), concatenated_df['University'].value_counts().tolist())))
# concatenated_df['University'].value_counts().index.tolist()
concatenated_df[concatenated_df["University"].str.contains("Buffalo", case=False)].University.value_counts()

SUNY Buffalo                                                              2254
SUNY - University at Buffalo                                               353
(SUNY) University At Buffalo                                                53
University At Buffalo                                                       30
SUNY University At Buffalo                                                  15
SUNY Buffalo State                                                           6
State University Of New York At Buffalo                                      5
University At Buffalo, SUNY                                                  4
SUNY Buffalo (UB)                                                            3
The State University Of New York At Buffalo                                  3
University At Buffalo, The State University Of New York                      3
State University Of New York At Buffalo (SUNY Buffalo)                       2
SUNY Buffalo- University At Buffalo                                          2
State University Of New York, Buffalo                                        1
State University Of New York-Buffalo                                         1
SUNY(State University Of New York) At Buffalo                                1
SUNY - Buffalo                                                               1
SUNY, Buffalo                                                                1
State University Of New York, Buffalo (SUNY)                                 1
University At Buffalo SUNY                                                   1
University At Buffalo–​SUNY                                                  1
University Of Buffalo, SUNY                                                  1
State University Of New York - Buffalo                                       1
State University Of New York (SUNY) Buffalo                                  1
University At Buffalo, The State University Of New York (SUNY Buffalo)       1
State University Of Buffalo                                                  1
State University Of New York (SUNY)-Buffalo                                  1
University Of Buffalo                                                        1
Name: University, dtype: int64

In [ ]:
concatenated_df.isna().sum()

Major                  0
researchExp        41410
industryExp        41139
toeflScore         51892
Program            13200
toeflEssay         93773
GRE_V                  0
GRE_Q                  0
GRE_AWA                0
termAndYear        53965
ugCollege          55530
CGPA                   0
cgpaScale          40765
University             0
Status                 0
Country            53670
Date               55337
Tuition            64601
ielts_s            99993
ielts_l            99993
ielts_w            99993
ielts_r            99993
funding_amount    100903
toefl_s            99979
toefl_l            99979
toefl_w            99979
toefl_r            99979
dtype: int64

# Filtering rows for CS and related majors

In [ ]:
# concatenated_df[concatenated_df["Major"].str.contains("Computer", case=False)]

In [ ]:
# concatenated_df[concatenated_df["Major"].str.contains("Computer|C\.S|CSE", case=False)].Major.value_counts()

# Status cleaning

In [ ]:
concatenated_df['Status'] = concatenated_df['Status'].replace({'admit': 'Accepted', 'reject': 'Rejected', 1:'Accepted', 0:'Rejected','applied':'Applied', 'Wait listed': 'Applied', 'Interview':'Applied'})

In [ ]:
concatenated_df['Status'].value_counts()

Accepted    60471
Rejected    36487
Applied      8408
Name: Status, dtype: int64

# CGPA Processed

In [ ]:
concatenated_df.drop_duplicates(inplace=True)

In [ ]:
concatenated_df.cgpaScale = concatenated_df.cgpaScale.replace("None", np.nan)
concatenated_df.cgpaScale.isna().sum()

41262

In [ ]:
# Drop CGPA NaN
concatenated_df["CGPA"] = concatenated_df["CGPA"].replace("None",np.nan)
print(concatenated_df.CGPA.isna().sum())
concatenated_df = concatenated_df[concatenated_df.CGPA.notnull()]

662

In [ ]:
# Only a few entries for CGPA>100, drop them
concatenated_df = concatenated_df[concatenated_df.CGPA.astype(float)<=100.0]

In [ ]:
convert10to4 = {10.0 : 4, 9.9: 3.97, 9.8: 3.94, 9.7: 3.9, 9.6: 3.87, 9.5: 3.84, 9.4: 3.81, 9.3: 3.78, 9.2: 3.74, 9.1: 3.71, 9.0: 3.68, 8.9: 3.65, 8.8: 3.62, 8.7: 3.58, 8.6: 3.55, 8.5: 3.52, 8.4: 3.49, 8.3: 3.46, 8.2: 3.42, 8.1: 3.39, 8.0: 3.36, 7.9: 3.33, 7.8: 3.3, 7.7: 3.26, 7.6: 3.23, 7.5: 3.2, 7.4: 3.17, 7.3: 3.14, 7.2: 3.1, 7.1: 3.07, 7.0: 3.04, 6.9: 3, 6.8: 2.95, 6.7: 2.9, 6.6: 2.85, 6.5: 2.8, 6.4: 2.75, 6.3: 2.7, 6.2: 2.65, 6.1: 2.6, 6.0 : 2.55, 5.9: 2.5, 5.8: 2.45, 5.7: 2.4, 5.6: 2.35, 5.5: 2.3, 5.4: 2.25, 5.3: 2.2, 5.2: 2.15, 5.1: 2.1, 5.0  : 2.05, 4.9: 2, 4.8: 1.94, 4.7: 1.88, 4.6: 1.82, 4.5: 1.76, 4.4: 1.71, 4.3: 1.65, 4.2: 1.59, 4.1: 1.53}
def cgpaHandling(cgpa, scale):
    #No CGPA is null, convert everything to float
    cgpa = float(cgpa)
    scale = float(scale)
    # if not np.isnan(scale):
    #     if scale == 100:
    #         cgpa /= 9.5
    if cgpa <= 100.0 and cgpa > 10.0:
        cgpa = (cgpa/9.5) if cgpa <= 95.0 else 10.0

    cgpa = round(float(cgpa), 1) #Upto 1 decimal only for conversion via dictionary
    if cgpa > 4.0 and cgpa <= 10.0 :
        cgpa = convert10to4[cgpa]
    return cgpa

In [ ]:
concatenated_df["CGPA"] = concatenated_df.apply(lambda x: cgpaHandling(x.CGPA, x.cgpaScale), axis=1)

In [ ]:
concatenated_df = concatenated_df[concatenated_df.CGPA.astype(float) > 0.0]

In [ ]:
print(min(concatenated_df["CGPA"]), average(concatenated_df["CGPA"]))

0.4 3.4352408959228504

In [ ]:
# from numpy.lib.function_base import average
# lol = concatenated_df.CGPA.value_counts().index.astype(float)
# sorted(lol, reverse=True)

In [ ]:
# concatenated_df[(concatenated_df.University == "North Carolina State University") & (concatenated_df.Tuition > 10000) & (concatenated_df.Tuition < 100000)].Tuition

In [ ]:
concatenated_df = concatenated_df.drop(["cgpaScale", "Tuition", "funding_amount"], axis=1)

In [ ]:
concatenated_df.isna().sum()

Major              0
researchExp    41138
industryExp    40871
toeflScore     51007
Program        12523
toeflEssay     91448
GRE_V              0
GRE_Q              0
GRE_AWA            0
termAndYear    53123
ugCollege      54158
CGPA               0
University         0
Status             0
Country        52002
Date           53403
ielts_s        97732
ielts_l        97732
ielts_w        97732
ielts_r        97732
toefl_s        97598
toefl_l        97598
toefl_w        97598
toefl_r        97598
dtype: int64

In [ ]:
# concatenated_df.to_csv("BaryapaikiFinalConcatenated.csv")

In [ ]:
spark = pyspark.sql.SparkSession.builder.appName("DM Trial").getOrCreate()

In [ ]:
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.functions import udf
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from fuzzywuzzy import fuzz
from pyspark.sql.functions import col

In [ ]:
spark = pyspark.sql.SparkSession.builder.appName("DM Trial").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [ ]:
spark

In [ ]:
df = spark.read.format("csv").option("header", "true",).option("inferSchema","true").load('BaryapaikiFinalConcatenated.csv')

In [ ]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Major: string (nullable = true)
 |-- researchExp: double (nullable = true)
 |-- industryExp: double (nullable = true)
 |-- toeflScore: double (nullable = true)
 |-- Program: string (nullable = true)
 |-- toeflEssay: string (nullable = true)
 |-- GRE_V: integer (nullable = true)
 |-- GRE_Q: integer (nullable = true)
 |-- GRE_AWA: double (nullable = true)
 |-- termAndYear: string (nullable = true)
 |-- ugCollege: string (nullable = true)
 |-- CGPA: double (nullable = true)
 |-- University: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- ielts_s: double (nullable = true)
 |-- ielts_l: double (nullable = true)
 |-- ielts_w: double (nullable = true)
 |-- ielts_r: double (nullable = true)
 |-- toefl_s: double (nullable = true)
 |-- toefl_l: double (nullable = true)
 |-- toefl_w: double (nullable = true)
 |-- toefl_r: double (nullable = true)

In [ ]:
value_counts = df.groupBy("University").count()
value_counts.show()

+--------------------+-----+
|          University|count|
+--------------------+-----+
|        SUNY Buffalo| 2182|
|Northeastern Univ...|   64|
|University Of Bir...|    3|
|  Ryerson University|   15|
|University Of Wis...|    1|
|Cleveland State U...|    1|
|New York Univeris...|    2|
| Columbia Univercity|    3|
|University Of Col...|    3|
|Harvard Universit...|    2|
|USC Viterbi Schoo...|    2|
|  Widener University|    3|
|Teachers College ...|    2|
|University Of Pen...|    4|
|University of Cal...|  616|
| New York University|  950|
|Marquette University|   98|
|University Of Cal...|   13|
|New York Univerisity|    2|
|University Of Lou...|    1|
+--------------------+-----+
only showing top 20 rows

In [ ]:
total_rows = df.count()
print(total_rows)

102866

In [ ]:
num_distinct = df.select('University').distinct().count()
print("Number of distinct values in column '{}' is: {}".format('University', num_distinct))

Number of distinct values in column 'University' is: 4758

In [ ]:
correct_names_df = spark.read.csv("us_universities.csv", header=True, inferSchema=True)
correct_names = correct_names_df.select(col('name')).rdd.flatMap(lambda x: x).collect()
print(correct_names)

TypeError: ignored

In [ ]:
drop_indices = []
import numpy as np
exclude_words = ["university", "college"]

def correct_university_name(name):
    # Iterate over the correct university names and find the one with the highest similarity score
    name_preprocessed = " ".join([word for word in name.lower().split() if word not in exclude_words])
    max_score = 0
    corrected_name = ''
    for correct_name in correct_names:
        correct_name_preprocessed = " ".join([word for word in correct_name.lower().split() if word not in exclude_words])
        score = fuzz.ratio(name_preprocessed.lower(), correct_name_preprocessed.lower())
        if score > max_score:
            max_score = score
            corrected_name = correct_name
    if max_score < 50:
        return np.nan
    return corrected_name

In [ ]:
correct_university_name_udf = udf(lambda name: correct_university_name(name), StringType())

In [ ]:
df["New University"] = df.withColumn("University", correct_university_name_udf(df["University"]))

In [ ]:
#kaggle.show(5)

In [ ]:
total_rows = df.count()
print(total_rows)

102866

In [ ]:
value_counts = df.groupBy("University").count()
value_counts.show()

+--------------------+-----+
|          University|count|
+--------------------+-----+
|Texas A&M Interna...| 2143|
|State University ...| 1527|
|University of Cin...| 1268|
|University of Sou...| 2853|
|University of Mas...| 1102|
|University of Tex...| 3901|
|University of Was...|  940|
|University of Cal...|  600|
|State University ...| 2619|
|Worcester Polytec...|  152|
|University of Col...| 1133|
|University of Flo...| 2550|
|University of Ari...| 1102|
|University of Min...| 1555|
|University of Nor...|  443|
|University of Cal...|  973|
| Wayne State College|  280|
|University of Ill...| 1460|
|University of Cal...|  251|
|University of Mar...| 1466|
+--------------------+-----+
only showing top 20 rows

In [ ]:
num_distinct = df.select('University').distinct().count()
print("Number of distinct values in column '{}' is: {}".format('University', num_distinct))

Number of distinct values in column 'University' is: 851

In [ ]:
df.write.csv("/path/to/converted_file.csv", header=True)

In [ ]:
name = 'University of Waterloo'

In [ ]:
spark.stop()

# Sarthak Code for US Only Universities

In [ ]:
# %%time

# import requests
# from bs4 import BeautifulSoup
# import pandas as pd

# url = "https://www.4icu.org/us/a-z/" # website that lists universities in the USA

# response = requests.get(url)
# soup = BeautifulSoup(response.text, "html.parser")

# table = soup.find("table", {"class": "table table-hover"}) # find table with university names

# usa_universities = [] # list to store USA universities

# for index, row in concatenated_df.iterrows(): # loop through each row of the DataFrame
#     University = row["University"] # get university name from the column
#     for row in table.find_all("tr"): # loop through each row of the table
#         cols = row.find_all("td")
#         if len(cols) > 1: # check if row contains university name
            # name = cols[1].text.strip()
            # if University.lower() in name.lower(): # check if entered university name matches the name in the row
            #     usa_universities.append(True) # add True to the list if the university is in the USA
            #     break
#     else:
#         usa_universities.append(False) # add False to the list if the university is not in the USA

# # add a new column to the DataFrame indicating if the university is in the USA
# concatenated_df["is_usa"] = usa_universities

# # filter out non-USA universities and keep only the USA universities in the DataFrame
# concatenated_df = concatenated_df[concatenated_df["is_usa"] == True]

# # drop the "is_usa" column
# concatenated_df = concatenated_df.drop(columns=["is_usa"])

# # # save the updated DataFrame to the original CSV file
# # df.to_csv("universityData_trail4.csv", index=False)

# concatenated_df